@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  text-transform: uppercase;
}

.jumbotron {
  padding-top: 5rem;
  background: url(2.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 700px;
  overflow: hidden;
  color: #fff;
  padding: 5em inherit;
  filter: grayscale(100%);
}

.font-display {
  padding-top: 5em;
}

section {
  padding-top: 11.5rem;

}

#pembukaan {
  padding-bottom: 5rem;
  filter: grayscale(100%);

}

#surat {
  padding-top: 20rem;
  background: url(4hd.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 900px;
  overflow: hidden;
  color: #fff;
  padding: 5em inherit;
  font-weight: 700;
  filter: grayscale(100%);
}

.isi-surat {
  word-spacing: 10px;
}

#resepsi {
  padding-top: 20rem;
  background: url(5new.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 900px;
  overflow: hidden;
  color: #fff;
  padding: 5em inherit;
  filter: grayscale(100%);
}
